<div class="background"></div>
<div class="container content">
  <h1 class="title">Eduarda Santos Oliveira</h1>
  <h2 class="description">DESENVOLVEDORA FRONTEND</h2>
  <cv-contacts [phone]="phone" [email]="email" [location]="location"></cv-contacts>
  <section>
    <p class="topics">OBJETIVO</p>
    <p>Continuar me desenvolvendo profissionalmente na área de desenvolvimento web e suas diversas possibilidades,
      disposta a aprender novas tecnologias.</p>
  </section>
  <hr />
  <section>
    <p class="topics">SKILLS</p>
    <ul>
      <li>Experiência com Angular (2 anos) e React (3 anos)</li>
      <li>Typescript, RxJS, SCSS/SASS, RESTful API</li>
      <li>Testes unitários, Testes end-to-end</li>
      <li>Git, Jenkis, Content Managment Systems (CMS)</li>
      <li>Metolodiga Ágil Scrum</li>
      <li>Inglês Avançado</li>
    </ul>
  </section>
  <hr />
  <section>
    <p class="topics">EDUCAÇÃO</p>
    <ul>
      <li>IFSP - Capivari/UNIP - Indaiatuba</li>
      Análise e Desenvolvimento de Sistemas
      Início 03/2016
      Conclusão 12/2020

      <li>IFSP - Capivari</li>
      Técnico em Informática Integrado ao Ensino Médio
      Início 01/2013
      Conclusão 12/2015
    </ul>
  </section>
  <hr />
  <section>
    <p class="topics">EXPERIÊNCIAS</p>
    <ul>
      <li>Privacy.com.br</li>
      11/2021 - 10/2021<br />
      Especialista em Desenvolvimento<br />
      11 meses<br /><br />
      <li>Encora (Daitan Group)</li>
      01/2021 - 11/2021<br />
      Especialista em Desenvolvimento<br />
      10 meses<br /><br />

      04/2019 - 01/2021<br />
      Assistente de Desenvolvimento<br />
      1 ano e 9 meses<br /><br />
      10/2018 - 04/2019<br />
      Estagiária de Desenvolvimento<br />
      6 meses<br /><br />
      <li>Diebold Nixdorf</li>
      01/2018 - 10/2018<br />
      Estagiária de Desenvolvimento<br />
      10 meses
    </ul>
  </section>
</div>